on: [push, pull_request]

name: push_pullreq

jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: run test
        uses: actions-rs/cargo@v1
        with:
          command: check